# MySQL
MYSQL_ROOT_PASSWORD=change_me
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=change_me

# WordPress
WP_PORT=8080
PHP_VERSION=8.2

# Mail (Mailpit)
MAIL_UI_PORT=8025
MAIL_SMTP_PORT=1025

# phpMyAdmin
PMA_PORT=8081